/* General Styles */
body.freeze-scroll {
    overflow: hidden;
}
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal overflow */
}


.billing .section-title {
    font-size: 3.5rem;
    margin-top: 10rem; /* Ensure fixed margin from the top */
    margin-bottom: 1rem;
    text-align: center;
}

.billing{
    background-size: cover;
    background-position: center;
    padding: 20rem 0;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.billing .myContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.billing-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

#createInvoiceButton {
    background-color:darkorange;
    color: black;
    border: none;
    border-radius: 50px;
    padding: 0.75rem 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 2rem;
}

#createInvoiceButton:hover {
    background-color: black;
    color: white;
}

.table-container {
    width: 100%;
    overflow: auto;
    margin-top: 2rem;
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: left;
}

table th {
    background-color: #333;
    color: white;
}

table tr:nth-child(even) {
    background-color: none;
}

table tr:hover {
    background-color: darkorange;
    cursor: pointer;
}

table td a {
    color: white;
    font-style: bold;
    text-decoration: underline;
}

table td a:hover {
    color: black;
}

.item {
    margin-bottom: 1rem;
}

.item label {
    margin-right: 1rem;
}
#invoicePopup {
    margin-top: 15rem;
    overflow-y: auto;
    padding: 20px;
}

#invoicePopupContent {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 80vh;
    margin-bottom: 2rem;
    
}


.popup-content form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

#invoiceDetailsPopup{
    margin-top: 15rem;
}


#invoiceDetailsPopup .popup-content {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    max-height: 80vh;
    overflow-y: auto;
}

#invoiceDetails table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#invoiceDetails table, #invoiceDetails th, #invoiceDetails td {
    border: 1px solid #ddd;
}

#invoiceDetails th, #invoiceDetails td {
    padding: 8px;
    text-align: left;
    margin-bottom: 2rem;
}

#invoiceDetails th {
    background-color: black;
}

#invoiceDetails td {
    background-color: #fff;
    color: black;
}

.popup .button-group {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.popup .btnInvoice {
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 50px;
    padding: 10px 20px;
}

.popup .btnInvoice:hover,
.popup .btnInvoice:focus {
    background-color: darkorange;
}
@media (max-width: 800px) {
    .billing {
        padding: 10rem 0; /* Reduce padding on smaller screens */
    }

    .billing .section-title {
        font-size: 2.5rem; /* Reduce font size on smaller screens */
    }

    #createInvoiceButton {
        font-size: 1.5rem; /* Reduce button font size on smaller screens */
    }

    .table-container {
        padding: 10px;
        padding: 0 1rem;
    }
    table {
        width: 100%;
    }

    table th, table td {
        padding: 0.75rem;
        font-size: 0.9rem;
    }
    .header .container {
        padding: 0 10px;
    }
}